body {
  font-family: 'Roboto', sans-serif;
}

/*navbar */
.navbar {
  background-color: #333;
  position: sticky;
  top: 0;
  z-index: 100; /* this ensures the navbar stays on top of other elements */
  transition: top 0.3s;
}

.navbar-dark .navbar-brand {
  color: #74b63e;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #74b63e;
}

.mega-menu {
  width: 100vw;
  position: absolute;
  left: 0;
  padding: 10px;
}

.mega-dropdown:hover .mega-menu {
  display: block;
}

.mega-dropdown {
  position: static;
}

.navbar-nav .dropdown-menu {
  display: none;
}

.navbar-item:hover .mega-menu {
  display: block;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.navbar-brand-wrapper {
  flex-grow: 1;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
}

.navbar-nav.ml-auto.mr-auto {
  justify-content: center;
}

.jumbotron {
  background: url('../img/Balkonkraftwerke_Wieland_solar-1920x810.jpg') center no-repeat;
  background-size: cover;
}

.jumbotron .container {
  background-color: #ffffffee;
  padding: 20px;
  width: 300px;
  height: 300px;
}

.main, #typedText {
  font-size: 2rem;
  color: #333;
}

.main2 {
  font-size: 2rem;
  color: #74b63e;
}

#typedText{
  font-size: 1.1rem;
  color: #333;
}

.btn {
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btn-primary {
  background-color: #74b63e;
  color: #fff;
}

.btn-primary:hover {
  background-color: #3e8b03;
}

.section-title {
  text-align: center;
  margin-bottom: 20px;
}

.section-title h2 {
  font-size: 1.6rem;
}

.col-md-6{
  font-size: medium;
}

.underline {
  width: 80px;
  height: 4px;
  background-color: #74b63e;
  margin: 0 auto;
}

.footer {
  background-color: #505050;
  color: white;
  font-size: small;
  text-align: left;
}

.footer h5,
.footer p {
  margin-bottom: 15px;
}

.footer a,
.col-md-4 a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.col-md-4 a:hover {
  color: #74b63e;
}

.footnote {
  background-color: #e7e7e7;
  color: #505050;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  margin-top: 20px;
}

.card-title {
  text-align: center;
}

.card:hover,
.card-img-top:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  width: 100%; /* Set the width of the image */
  height: 270px; /* Set the height of the image */
  object-fit: cover; /* Resize the image to cover the container without distorting its aspect ratio */
}

.card-img-top:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.sponsor-logo {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

#scrollTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  display: none;
  border: none;
  background: none;
  cursor: pointer;
}

#scrollTopBtn:hover::before {
  content: "Scroll to Top";
  position: absolute;
  bottom: 100%;
  right: 0;
  background-color: #333;
  color: #fff;
  padding: 5px;
  font-size: 12px;
  border-radius: 4px;
  white-space: nowrap;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/* new dropdown mega menu */
.timeline {
  position: relative;
  max-width: 800px;
  margin: 50px auto;
  padding: 40px 0;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 3px;
  background-color: #eee;
}

.timeline-item {
  position: relative;
  width: 50%;
  padding: 10px 40px;
}

.timeline-item::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  border: 3px solid #74b63e; /* Accent color */
  border-radius: 50%;
  background-color: white;
}

.timeline-item::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  transform: translateY(-50%);
  z-index: 2; /* Put the content above the arrow */
}

.timeline-item:nth-child(odd)::after {
  left: 91%;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent #74b63e;
}

.timeline-item:nth-child(even)::after {
  right: 91%;
  border-width: 10px 20px 10px 0;
  border-color: transparent #74b63e transparent transparent;
}

.timeline-item div {
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  position: relative;
  z-index: 2; /* Put the content above the arrow */
}

.timeline-year {
  font-weight: bold;
  color: #74b63e; /* Accent color */
}

.timeline-content h4 {
  margin-top: 0;
  color: #74b63e; /* Accent color */
}

.timeline-item:nth-child(odd) {
  left: 0;
}

.timeline-item:nth-child(even) {
  left: 50%;
}

@media (min-width< 520px) {
  .about-image{
    width: 100%;
    height: auto;
  }
}
